<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>


<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary %>
</p>


<p>
  <strong>Department ID:</strong>
  <%= @employee.department_id %>
</p>

<p>
  <strong>Section ID:</strong>
  <%= @employee.section_id %>
</p>


<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
